/DigimonWorldNet6/.vs/DigimonWorld/DesignTimeBuild/.dtbcache.v2
/DigimonWorldNet6/.vs/DigimonWorld/v17/.futdcache.v2
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/.gitignore
/DigimonWorldNet6/.idea/.idea.DigimonWorld,sln/.idea/.gitignore
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/.name
/DigimonWorldNet6/.idea/.idea.DigimonWorld,sln/.idea/.name
/DigimonWorldNet6/.vs/DigimonWorld/v17/.suo
/DigimonWorldNet6/.vs/DigimonWorld/FileContentIndex/620db0ce-dcae-4f1b-aa86-48c6eeda0a3d.vsidx
/DigimonWorldNet6/.vs/DigimonWorld/FileContentIndex/6069c1f1-ec6b-40cd-a248-541a217dbf86.vsidx
/DigimonWorldNet6/.vs/DigimonWorld/FileContentIndex/b70c3c54-1332-46b1-a76c-2238b68e89c3.vsidx
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/codeStyles/codeStyleConfig.xml
/DigimonWorldNet6/.vs/ProjectEvaluation/digimonworld.metadata.v7.bin
/DigimonWorldNet6/.vs/ProjectEvaluation/digimonworld.projects.v7.bin
/DigimonWorldNet6/DigimonWorld.sln.DotSettings.user
/DigimonWorldNet6/.vs/DigimonWorld/FileContentIndex/f0175028-f0ff-46a2-96af-971826b12c7d.vsidx
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/dictionaries/Gino.xml
/DigimonWorldNet6/global.json
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/indexLayout.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorld,sln/.idea/indexLayout.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorldNet6.dir/.idea/indexLayout.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorldNet6.dir/.idea/projectSettingsUpdater.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorld/.idea/vcs.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorldNet6.dir/.idea/vcs.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorldNet6/.idea/workspace.xml
/DigimonWorldNet6/.idea/.idea.DigimonWorldNet6.dir/.idea/workspace.xml
